@import 'tailwindcss';

:root {
    --white: #ffffff;
    --black: #101011;
    --red: #ad3939;
}

@theme {
    --font-major: var(--font-major), monospace;
    --font-raleway: var(--font-raleway), monospace;

    --breakpoint-*: initial;

    --color-*: initial;
    --color-white: var(--white);
    --color-black: var(--black);
    --color-red: var(--red);

    --animate-fadeIn: fadeIn 1s ease-in-out forwards;
    --animate-fadeInAndSlideLeft: fadeInAndSlideLeft 1s ease-in-out forwards;
}

@custom-variant 1920 (@media (max-width: 120rem));
@custom-variant 1600 (@media (max-width: 100rem));
@custom-variant 1440 (@media (max-width: 90rem));

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInAndSlideLeft {
    0% {
        transform: translateX(120px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes shake {
    0% {
        transform: translateX(0);
        border-bottom-color: var(--white);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
        border-bottom-color: var(--red);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
        border-bottom-color: var(--red);
    }
    100% {
        transform: translateX(0);
        border-bottom-color: var(--white);
    }
}

.shadow-text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
}

.animate-shake {
    animation: shake 0.5s ease-in-out;
}
