@import 'tailwindcss';

:root {
    --white: #ffffff;
    --black: #101011;
}

@theme {
    --font-major: var(--font-major), monospace;
    --font-vt: var(--font-vt), monospace;

    --breakpoint-*: initial;

    --color-*: initial;
    --color-white: var(--white);
    --color-black: var(--black);
}

@custom-variant 1920 (@media (max-width: 120rem));
@custom-variant 1600 (@media (max-width: 100rem));
@custom-variant 1024 (@media (max-width: 64rem));
@custom-variant 768 (@media (max-width: 48rem));
@custom-variant 480 (@media (max-width: 30rem));
